<%= render('shared_partials/rest_card', restaurant: @restaurant) %>
<h3 class="my-3 text-center">Reviews</h3>
<% @reviews.each do |review| %>
    <div class="card">
    <div class="card-header">
        Stars: <%= review.rating %>/5
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p><%= review.content %></p>
        <!--<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
        </blockquote>
    </div>
    </div>
<% end %>